@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

$primary: hsl(12, 88%, 59%);
$primary-hover: lighten(saturate(adjust-hue($primary, -2), 8.06), 13.92);
$very-light-primary: lighten(saturate(adjust-hue($primary, 3), 12.38), 37.25);
$secondary: hsl(228, 39%, 23%);
$Dark-Grayish-Blue: hsl(227, 12%, 61%);
$Very-Dark-Blue: hsl(233, 12%, 13%);
$Very-Pale-Red: hsl(13, 100%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);

@import "~bootstrap/scss/bootstrap";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height:100%;
  min-height: 100vh;
  margin:0;
  height:0;
}

body {
  background-color: #fff;
  font-family: 'Be Vietnam', sans-serif;
  background: url('./images/bg-tablet-pattern.svg') right -100px top -100px / 800px no-repeat, url('./images/bg-tablet-pattern.svg') left -300px top 1200px / 600px no-repeat ;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  width:100%;
  overflow-x: hidden;
}

h1, h2 {
  font-weight: 700;
  color:$secondary;
  letter-spacing: -1px;
  
}

h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.paragraph {
  font-size:16px;
  font-weight: 400;
  color:$Dark-Grayish-Blue;
  line-height: 160%;
  margin:10px 0 40px;
  &.reduced-width {
    max-width: 65%;
  }
}
.navbar {
  justify-content: space-between;
  .background {
    display: none;
  }
  .navbar-nav {
    .nav-link {
      font-size: 13px;
      margin:0 12px;
      color:$secondary;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $Dark-Grayish-Blue;
      }
    }
  }
}

button.navbar-toggler {
  border:none;
  outline: none;
  box-shadow:none;
  z-index: 5;
  *:focus {
    border:none;
    outline: none;
    box-shadow:none;
  }
  &.active {
    .navbar-toggler-icon {
      background-color: transparent;
      &:after {
        transform: translateY(-7px) rotate(45deg)
      }
      &:before {
        transform: translateY(7px) rotate(-45deg)
      }
    }
  }
  .navbar-toggler-icon {
    background-image: none;
    width:24px;
    height:4px;
    background-color: $Very-Dark-Blue;
    position: relative;
    transition: 0.2s ease all;
    &:after, &:before {
      content: '';
      width:24px;
      height:4px;
      background-color: $Very-Dark-Blue;
      position: absolute;
      left:0;
      transition: 0.2s ease all;
    }
    &:after {
      top:7px;
    }
    &:before {
      top:-7px;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.btn {
  padding:12px 30px; 
  border-radius:50px;
  font-size: 13px;
  font-weight: 700;
  &.btn-primary {
      box-shadow: 0 15px 20px -10px fade-out($primary, .5);
    &:hover {
      background-color: $primary-hover;
      border-color:$primary-hover;
    };
    &:focus {
      box-shadow: 0 15px 10px -5px fade-out($primary, .5);
    }
  }
  
}

.feature {
  display: flex;
  align-items: flex-start;
  .feature-key {
    display: inline;
    padding:8px 24px;
    background-color:$primary;
    border-radius:30px;
    color:#fff;
    font-weight: 700;
    font-size: 16px;
  }
  .feature-content {
    padding:8px 5px 42px 28px;
    display: inline;
    .feature-key {
      display: none;
    }
    .title {
      display: inline;
      font-weight: 700;
      font-size: 16px;
      color:$secondary;
      margin-bottom: 20px;
    }
    .paragraph {
      font-weight: 400;
      font-size: 16px;
      color:$Dark-Grayish-Blue;
    }
  }
}

.testimonals-slider {
  padding:55px 0 5px;
  .testimonial-outer {
    padding:40px 16px;
    height: 100%;
    .testimonial-inner {
      background-color:$Very-Light-Gray;
      position:relative;
      text-align: center;
      padding:64px 24px 40px;
      height: 100%;
      .testimonial-image {
        width:72px;
        height: 72px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        margin:0 auto;
        transform: translateY(-50%);
        img {
          width: 100%;
        }
      }
      .testimonial-name {
        font-size: 16px;
        font-weight: 700;
        color:$secondary;
        margin-bottom: 20px;
      }
      .testimonial-quote {
        color: $Dark-Grayish-Blue;
        font-size: 15px;
        font-weight: 400;
      }
    }
   
  }

  .carousel-control-prev, .carousel-control-next {
      width: 80px;
      outline: none;
      border:none;
      background-color:transparent;
      opacity: 0;
    .control-icon {
      width:40px;
      height: 40px;
      background-color:$primary;
      position: relative;
      border-radius:50%;
      &.prev {
        transform: rotate(180deg)
      }
      &:after, &:before {
        content: '';
        width:4px;
        height:12px;
        background-color: #fff;
        position: absolute;
        top:14px;
      }
      &:after {
        transform: translateY(3px) rotate(45deg);
      }
      &:before {
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }

  &:hover {
    .carousel-control-prev, .carousel-control-next {
      opacity: .7;
      &:disabled {
        .control-icon {
          background-color:#aaa;
        }
      }
      &:not(:disabled):hover {
        opacity: 1;
      }
    }
  }
  .carousel__dot-group {
    width: 100%;
    display: flex;
    justify-content: center;
    button{      
      outline: none;
      border:none;
      padding: 0 2px;
      background-color: transparent;
      span {
        width:9px;
        height: 9px;
        border-radius:50%;
        border:1px solid $primary;
        background-color:transparent;
        display: block;
      }
      &:disabled {
        span{
          background-color:$primary;
        }
      }
    }
  }
}

section {
  padding:48px 0;
  &.hero {
    .col-md {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items:flex-start;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  &.last {
    padding-bottom:180px;
  }
  &.center {
    h2 {
      text-align: center;
    }
    .btn {
        margin: 0 auto;
        display: block;
      }
  }
  &.filled {
    background:$primary url('./images/bg-simplify-section-desktop.svg') left 200px top 0 / cover no-repeat;
    padding:60px 0;
    h2 {
      color:#fff;
    }
    .btn {
      background-color:#fff;
      color:$primary;
      &:hover {
        color:$primary-hover;
      }
    }
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items:center;
}



header {
  padding:45px 0 50px;
}

footer {
  background-color: $Very-Dark-Blue;
  color:#fff;
  padding:60px 0;
  .col-md, .col-md-4, .col-md-3 {
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
  }
  .nav {
    display: flex;
    .nav-link {
      font-size: 15px;
      flex-basis:100%;
      font-weight: 500;
      padding:6px 10px;
      cursor: pointer;
      &:hover {
        color:$primary;
      }
    }
  }
  .copyright {
    font-size: 13px;
    text-align: right;
    color:$Dark-Grayish-Blue;
    font-weight: 400;
    &.mobile {
      display: none;
    }
  }
  .form-inline {
     .form-control {
        font-size: 13px;
        border-radius:50px;
        height: 100%;
        width:100%;
        &.is-invalid {
          padding: 0.375rem 0.75rem;
          border-color:$primary;
          &::placeholder{
            color:$primary;
          }
        }
      }
      .invalid-feedback {
        position:absolute;
        left:15px;
        top:calc(100% + 5px);
        font-size: 11px;
        font-style: italic;
        color:$primary;
      }
      .form-input-wrapper {
        position:relative;
        align-self: stretch;
        flex-grow: 1;
        padding-right: 10px;
      }
  }
  .logo .white {
    fill: #fff;
  }
  .btn {
    padding: 12px 24px;
    box-shadow:none !important;
    &:focus, &:hover, &:active {
      box-shadow:none !important;
    }
  }
  .social-icons {
    img {
      margin:0 6px;
      cursor: pointer;
      &:first-child {
        margin-left:0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        filter: invert(55%) sepia(40%) saturate(6370%) hue-rotate(335deg) brightness(100%) contrast(93%);
      }
    }
  }
}


@media screen and (max-width: 768px) {
  
  body {
    background:url(/static/media/bg-tablet-pattern.01061791.svg) right -150px top -100px/120% no-repeat, url(/static/media/bg-tablet-pattern.01061791.svg) right -170px top 550px/80% no-repeat;
  }
  section {
    padding:30px 0;
    &.hero {
      padding-bottom:64px;
      .col-md {
        &.content {
          order: 2;
        }
      }
    }
    &.filled {
      padding: 100px 0;
      background:$primary url('./images/bg-simplify-section-mobile.svg') left 0 top 50% / 100px no-repeat;

      h2 {
        font-size: 40px;
        margin-bottom:30px;
      }
    }
  }
  header {
    padding: 45px 0 0;

  }
  footer {
    .logo {
      order:2;
      display: flex;
      justify-content: center;
      margin-bottom: 55px;
    }
    .social-icons {
      display: flex;
      justify-content: space-evenly;
      padding:48px 0 55px;
      img {
        width:32px;
      }
    }
    .form-inline {
      margin-bottom:55px;
    }
    .copyright {
      display: none;
      order:3;
      text-align: center;
      &.mobile {
        display: block
      }
    }
  }
  h1 {
    font-size: 39px;
    text-align: center;
    margin-bottom: 0;
    max-width: 90%;
    margin-left:auto;
    margin-right:auto;
  }

  h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 90%;
    margin-left:auto;
    margin-right:auto;
  }

  .paragraph {
    font-size: 15px;
    text-align: center;
     &.reduced-width {
      max-width: 85%;
      margin-left:auto;
      margin-right:auto;
    }
  }

  .btn {
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

  .features-wrapper {
    padding:0;
  }

  .feature {
    display: inline;
    &:last-child .paragraph {
      margin-bottom: 0;
    }
    .feature-key {
      display: none;
    }
    .feature-content {
      padding:0;
      .heading {
        padding:8px 0;
        background-color:$very-light-primary;
        margin-left:30px;
        border-radius:30px;
        width:calc(100% + 30px);
      }
      .feature-key {
        display: inline;
        margin-left:-15px
      }
      .title {
        padding-left:15px;
      }
      .paragraph {
        padding:16px;
        font-size: 14px;
        text-align: left;
        margin-top:0;
      }
    }
  }

  .testimonals-slider {
    padding-top:40px;
    padding-bottom:48px;
  }

  nav.navigation {
    display: none;
    &.show {
      display: block;
      position:fixed;
      top:0;
      left:0;
      width:100vw;
      height: 100vh;
      padding:103px 24px;
      z-index: 2;
      .background {
        display: block;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        animation-name: fade;
        animation-duration: .2s;
      }
      .navbar-nav {
        background-color:#fff;
        border-radius:4px;
        display: flex;
        flex-direction: column;
        padding:30px;
        animation-name: fade;
        animation-duration: .5s;
        .nav-link {
          flex-basis: 100%;
          text-align: center;
          padding:14px;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }

}

